# Django built in
DJANGO_SECRET_KEY=
DEBUG=


# Telegram bot
TG_API_TOKEN=
BOT_USERNAME=
CHAT_ID=


# Stripe
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=


# Database
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Redis / Celery
REDIS_HOST=
REDIS_PORT=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
