# Django built in
DJANGO_SECRET_KEY=
DEBUG=


# Telegram bot
TG_API_TOKEN=
BOT_USERNAME=
CHAT_ID=


# Stripe
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=


# Database
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASS=
DATABASE_HOST=
DATABASE_PORT=


# Redis / Celery
REDIS_HOST=
REDIS_PORT=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
